[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "~=7.3"
sphinx-autoapi = "~=3.0"
sphinx-autobuild = "~=2024.4"
sphinx-autodoc-typehints = "~=2.1"
furo = "~=2024.4"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
# pipenv run [...]
gen_requirements = "bash -c 'pipfile2req --hashes > requirements.txt'"
